body {
    
    background-image: linear-gradient(to bottom right,rgb(198, 156, 226), rgb(238, 135, 135));
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;     
}
#input {
    width: 300px;
    height: 30px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
}
#submit {
    width: 100px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
}
.img {
    width: 150px;
    height: 200px;
    margin: 40px;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#iron {
    text-align: center;
    margin: 20px;
}
#text {
    align-items: center;
}
#choose{
    width: 100px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
}